<h1 id="tableLabel">Expenses</h1>


<p>Current page: {{expenses?.currentPage}}</p>
<p>Last page: {{expenses?.totalPages}}</p>

<button mat-icon-button matTooltip="Add" [matTooltipPosition]="'after'">
    <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]='["../edit"]'>add</mat-icon>
</button>

<mat-paginator [length]="expenses?.totalItems"
               [pageSize]="expenses?.itemsPerPage"
               [pageSizeOptions]="[5, 25, 50, 100]"
               (page)="pageEvent = loadExpenses($event)">
</mat-paginator>

<table mat-table [dataSource]="expenses?.items" class="mat-elevation-z8" *ngIf="expenses">



    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> Description </th>
        <td mat-cell *matCellDef="let expense"> {{expense.description}} </td>
    </ng-container>

    <ng-container matColumnDef="sum">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> Sum </th>
        <td mat-cell *matCellDef="let expense"> {{expense.sum}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> Location </th>
        <td mat-cell *matCellDef="let expense"> {{expense.location}} </td>
    </ng-container>

    <ng-container matColumnDef="dateAdded">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> Date </th>
        <td mat-cell *matCellDef="let expense"> {{expense.dateAdded | date: 'dd-MM-y'}} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> Currency </th>
        <td mat-cell *matCellDef="let expense"> {{expense.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="typeOfExpense">
        <th mat-header-cell *matHeaderCellDef style="width:15%"> Type </th>
        <td mat-cell *matCellDef="let expense"> {{expense.typeOfExpense}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfComments">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> No of comm </th>
        <td mat-cell *matCellDef="let expense"> {{expense.numberOfComments}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width:25%"> Actions </th>
        <td mat-cell *matCellDef="let expense">
            <div [routerLinkActive]="['link-active']">
                <button mat-icon-button matTooltip="Info" [matTooltipPosition]="'after'">
                    <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]="['/fetch-data', expense.id]">info</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Edit" [matTooltipPosition]="'after'">
                    <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]="['../edit', expense.id]">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'after'">
                    <mat-icon aria-label="Example icon-button with a heart icon " (click)="deleteExpense(expense)">delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


